.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, 0.05);
        transform: translateY(-5%);
    }

    &__link:hover {
        box-shadow: 0rem 2rem 3rem rgba($color-primary, 0.5);
    }

    &__link:active {
        box-shadow: 0rem 1rem 1.5rem rgba($color-primary, 0.25);
        transform: translateY(0);
    }

    li a {
        border-radius: 2px;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    text-align: center;
    width: 70%;

    .author {
        display: inline-block;
        color: $color-primary;
        text-decoration: none;
        transition: all 0.2s;
        font-weight: 600;

        &:hover {
            box-shadow: 0rem 2px 4px rgba($color-primary, 0.5);
            transform: translateY(-5%);
        }
        &:active {
            box-shadow: 0rem 1px 3px rgba($color-primary, 0.25);
            transform: translateY(0);
        }
    }
}
